@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');
h3{
    font-family: 'Spicy Rice', cursive;
    font-size: 30px;
    color: #880000;
    text-shadow: -2px -2px 1px white, 2px 2px 1px white, -2px 2px 1px white, 2px -2px 1px white;
}

.introducir{
    border: solid 2px #880000;
}

.introducir:hover{
    border: solid 2px #880000;
}

.introducir:focus{
    border: solid 2px #880000;
}

.formulario{
    border: 1px #880000 solid;
    border-radius: 15px;
    background-color: #FFD33F;
    padding: 20px;
}

label{
    font-weight: bold;
}

.titulo{
    justify-content: center;
}